<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>api-example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>sample.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <context-param>
  	<param-name>uploadPath</param-name>
  	<param-value>C:\\uploadtest\\upload\\</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>downloadServlet</servlet-name>
  	<servlet-class>uploadservlet.DownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>downloadServlet</servlet-name>
  	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  
</web-app>